@use 'sass:math';

$base-font-size : 16px!default;

//Supprime l'unité de mesure
@function strip-unit($number) {
    @if type-of($number) == 'number' and not unitless($number) {
      @return $number / ($number * 0 + 1);
    }  
    @return $number;
  }


//Convertit le dimesionnement pixel -> rem
@function rem($size, $base : $base-font-size){
    @return 1rem * $size / strip-unit($base);
}

@function centerAbsolute($size){
  @return calc(50% - #{$size / 2});
}


//Mixin

@mixin size($width, $height) {  
  width: $width;
  height : $height;
}